
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625095531672109739.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-625095531672109739.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-625095531672109739.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625095531672109739.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625095531672109739.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625095531672109739.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625095531672109739.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625095531672109739.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625095531672109739.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625095531672109739.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625095531672109739.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625095531672109739.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625095531672109739.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625095531672109739.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625095531672109739.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-625095531672109739.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-625095531672109739.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625095531672109739.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625095531672109739.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625095531672109739.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625095531672109739.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625095531672109739.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-625095531672109739.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625095531672109739.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-625095531672109739.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-625095531672109739.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-625095531672109739.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-625095531672109739.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625095531672109739.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-625095531672109739.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-625095531672109739.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-625095531672109739.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625095531672109739.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625095531672109739.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-625095531672109739.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625095531672109739.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625095531672109739.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625095531672109739.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625095531672109739.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625095531672109739.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-625095531672109739.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625095531672109739.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-625095531672109739.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625095531672109739.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-625095531672109739.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-625095531672109739.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-625095531672109739.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-625095531672109739.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625095531672109739.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-625095531672109739.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-625095531672109739.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-625095531672109739.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-625095531672109739.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-625095531672109739.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-625095531672109739.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-625095531672109739.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-625095531672109739.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625095531672109739.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625095531672109739.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625095531672109739.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-625095531672109739.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-625095531672109739.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-625095531672109739 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-625095531672109739 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-625095531672109739 .gp-relative{position:relative}.gps-625095531672109739 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-625095531672109739 .gp-mb-0{margin-bottom:0}.gps-625095531672109739 .gp-inline-block{display:inline-block}.gps-625095531672109739 .gp-flex{display:flex}.gps-625095531672109739 .gp-grid{display:grid}.gps-625095531672109739 .gp-contents{display:contents}.gps-625095531672109739 .\!gp-hidden{display:none!important}.gps-625095531672109739 .gp-hidden{display:none}.gps-625095531672109739 .gp-h-auto{height:auto}.gps-625095531672109739 .gp-h-full{height:100%}.gps-625095531672109739 .gp-w-full{width:100%}.gps-625095531672109739 .gp-max-w-full{max-width:100%}.gps-625095531672109739 .gp-flex-none{flex:none}.gps-625095531672109739 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-625095531672109739 .gp-flex-col{flex-direction:column}.gps-625095531672109739 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625095531672109739 .gp-duration-200{transition-duration:.2s}.gps-625095531672109739 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-625095531672109739 .tablet\:\!gp-hidden{display:none!important}.gps-625095531672109739 .tablet\:gp-hidden{display:none}.gps-625095531672109739 .tablet\:gp-h-auto{height:auto}.gps-625095531672109739 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-625095531672109739 .mobile\:\!gp-hidden{display:none!important}.gps-625095531672109739 .mobile\:gp-hidden{display:none}.gps-625095531672109739 .mobile\:gp-h-auto{height:auto}.gps-625095531672109739 .mobile\:gp-flex-none{flex:none}}.gps-625095531672109739 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"goSPBWQP3c"}' data-id="goSPBWQP3c" id="goSPBWQP3c" data-same-height-subgrid-container class="goSPBWQP3c gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFqby7v5cR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gV474RVEk6"}' data-id="gV474RVEk6" id="gV474RVEk6" data-same-height-subgrid-container class="gV474RVEk6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWTKfVy0by gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gkNsp0Ustg"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1782214885324 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkNsp0Ustg"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/fentimans" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggkNsp0Ustg_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTUxLTMzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0idXJsKCNnLTU1MS0zMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTEiIHRvPSI1NTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggkNsp0Ustg_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTUxLTMzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0idXJsKCNnLTU1MS0zMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTEiIHRvPSI1NTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggkNsp0Ustg_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTUxLTMzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTUxIiBoZWlnaHQ9IjMzMSIgZmlsbD0idXJsKCNnLTU1MS0zMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTEiIHRvPSI1NTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggkNsp0Ustg_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gukKul_2pR"
        class="gukKul_2pR"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:24px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:#005339;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggukKul_2pR_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyL4TOIsWx"
        class="gyL4TOIsWx"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggyL4TOIsWx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gQ3r3aEnEg gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-625095531672109739 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zero-dot-zero/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582486839235969688&sectionId=625095531672109739)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggkNsp0Ustg_srcSet_desktop_src","label":"ggkNsp0Ustg_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0742/2669/6436/files/Fentimans_Shop_by_Brand_550_x_330_3ac35474-2f7d-42f8-a422-fc06328a99c3.png"},{"type":"html","id":"ggukKul_2pR_text","label":"ggukKul_2pR_text","default":"Fentimans"},{"type":"html","id":"ggyL4TOIsWx_text","label":"ggyL4TOIsWx_text","default":"<p>Botanically brewed premium cola, Complex herbal blend with natural ingredients, Rich, full-bodied taste, Distinctive glass bottle packaging, Suitable for mixing or standalone refreshment</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}